<h1>Top Music Charts</h1>

<%= link_to "Explore Artists", artists_path %>

 <% @charts.each do |chart| %>
      <h3><%= link_to chart.name, chart_path(chart) %></h3>
    <% end %> 

<%= link_to 'Add New Chart', new_chart_path %>